/* Um eine CSS Datei in HTML einzubinden: <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">*/
/*style.css für [App]*/

body {
	
	text-align: center;
	background-color: #004f92;	
	color: #000000;
	letter-spacing: 0.4px;
	position: relative;
	min-height: 97vh;
}

/*Rahmen*/
.rahmen {
	min-height: 100%;
	margin: 0 auto;
	margin-top:0.3%;
	text-align: center;
	background-color: #f8f8f8;
	min-width: 100px;
	max-width: 1024px;
	border-radius: 2px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: solid #4e4e4e 1px;
	border-radius: 10px;
}


/*Trennlinie*/
hr { 
	border: 0;
	height: 1px;
	width: 70%;
	background-image:
	linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
	animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
}


/*Navigation*/
.topnav {
  overflow: hidden;
  background-color: #878787;
  -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: solid #4e4e4e 1px;
	border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: FFFFFF;
  text-decoration: none; 
}

.topnav a.active {
  background-color: #ddd;
  color: #333;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
	

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}


/*Textlinks*/

a:link	{
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: #000000;
}

a:visited {
	color: #FFFFFF;
}

/*Button "Einloggen"*/
.button_anmeldung {
  border-radius: 4px;
  background-color: #333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_anmeldung span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_anmeldung span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_anmeldung:hover span {
  padding-right: 25px;
}

.button_anmeldung:hover span:after {
  opacity: 1;
  right: 0;
}




/*Buttons */
.button {
  border-radius: 4px;
  background-color: #333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}








/*LogIn*/

.login_text {
	text-align: center;
	background-color: #5b5b5b;
	color: #FFFFFF;
	max-width: 240px;
	padding: 1%;
	padding-top: 0%;
	line-height: 1.8;
	border-radius: 2px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: solid #000000 1px;
	border-radius: 4px;
	min-width:20%;
}


/*LogOut*/

.logout_button {

	position: absolute;
    right: 0;
}


/*Tabelle*/

table {
	min-width:70%;
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse

}

table td {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 3px
}

table th {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 3px
}

table h2 {
	margin: 0
}

table caption {
	padding: 0.5em;
	text-align: left;
	font-weight: bold;
}

table.is_sortable thead th {
	background-color: lightgray;
}


/*Footer*/
footer {
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	bottom:0;
	background-color: #f8f8f8;
	min-width: 100px;
	max-width: 1024px;
	width:100%;
	border-radius: 2px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: solid #4e4e4e 1px;
	border-radius: 10px;
	color: #000000;
	font-size: 11px;
	text-align: center;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
