{% extends 'base.html' %} 
{% block title %}Chronos Zeiterfassungssystem{% endblock title %}

{% block content %}
<div class="rahmen">

    <main>
    <br>
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" widht="180" height="180" alt="Logo">
        <article>
<hr>
            <h2><p>Chronos Zeiterfassungssystem v1.0</p></h2><p>
        </article>
<section>
</div>


<center>

<!-- NAVIGATION ENDE -->


<!-- BODY START -->

<div class="rahmen">
<p>
<h3>Anmeldung</h3>

<p>

<!-- Log-In Bereich START -->
<section>
<center>
<div class="login_text">
        <form action="/login" method="post">
        
            <h4>Bitte loggen Sie sich ein</h4>
            
    <input type="text" placeholder="Benutzername" required="" id="benutzername" name="user"/><p>
            <input type="password" placeholder="Passwort" required="" id="passwort" name="password"/><p>
           <button class="button_anmeldung"><span>Einloggen</span></button>
</section>

                <p>
</form>
</div>
<!-- Log-In Bereich ENDE -->

</section>

<!-- BODY ENDE -->


<center>
    </main>
    
<!-- FOOTER Bereich START -->
<div class="rahmen">

<footer>
    <center>Chronos Zeiterfassungssystem 2021</center>
</footer> 
<!-- FOOTER Bereich ENDE -->

</div>
{% endblock content %}
