{% extends 'base.html' %} 
{% block title %}Chronos Zeiterfassungssystem{% endblock title %}

{% block content %}
	<div class="rahmen">
        <main>
		<br>
		<img src="{{ url_for('static', filename='img/logo.png') }}" widht="180" height="180" alt="Logo">
            <article>
<hr>
                <h2><p>Chronos Zeiterfassungssystem v1.0</p></h2><p>
            </article>

</div>
	<section>

		  
<!-- NAVIGATION START -->
{% include 'navbar.html' %}
<!-- NAVIGATION ENDE -->


<div class="rahmen">
<p>
{% if current_user.id == 1 %}
<h3>Admin Menu</h3>
{% else %}
<h3>Willkommen, {{current_user.vname}}</h3>
{% endif %}
<center>

<form method="POST">
    {% if current_user.benutzerStatus == "abwesend" or current_user.benutzerStatus == "Pause" %}
    <button type="submit" name="button_startseite" value="button_kommen">Kommen stempeln</button><p>
    {% else %}
    <button type="submit" name="button_startseite" value="button_pause">Pause stempeln</button><p>
    {% endif %}
    <p> Status: {{current_user.benutzerStatus}} {% if current_user.benutzerStatus == "anwesend" %} <i class="bi bi-box-arrow-in-left"></i>
    {% elif current_user.benutzerStatus == "abwesend"%} <i class="bi bi-box-arrow-left" style="color: red"></i>
    {% elif current_user.benutzerStatus == "Pause"%} <i class="bi bi-box-arrow-left" style="color: rgb(204,204,0)"></i>
    {% else %} <i class="bi bi-question-square"></i>
    {% endif %} </p>
    <!--<p> Tagessaldo: {{data["tagessaldo"]}} </p>
    <p> übrige Saldo: {{data["saldoUebrig"]}} </p> -->
</form>


<center>
</div>
        </main>

<!-- FOOTER Bereich START -->


    <footer>
        <center>Chronos Zeiterfassungssystem 2021</center>
    </footer> 
	<!-- FOOTER Bereich ENDE -->

	
{% endblock content %}
